.payline-top-line {
  width: 100%;
  height: 5px;
  background: red;
  opacity: 0.5;
}

.payline-middle-line {
  width: 100%;
  height: 5px;
  background: blue;
  opacity: 0.5;
}

.payline-bottom-line {
  width: 100%;
  height: 5px;
  background: green;
  opacity: 0.5;
}

.payline-top-left-bottom-right-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 120%;
  height: 5px;
  background: yellow;
  opacity: 0.1;
  z-index: 20;
}

.payline-top-right-bottom-left-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 120%;
  height: 5px;
  background: purple;
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-bottom-center-middle-right-line-section1 {
  width: 20%;
  height: 5px;
  background: rgb(26, 25, 25);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-bottom-center-middle-right-line-section2 {
  position: absolute;
  bottom: 0;
  left: 22%;
  width: 25%;
  height: 5px;
  background: rgb(26, 25, 25);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-bottom-center-middle-right-line-section3 {
  position: absolute;
  left: 45%;
  top: 20%;
  width: 10%;
  height: 5px;
  background: rgb(26, 25, 25);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-bottom-center-middle-right-line-section4 {
  position: absolute;
  bottom: 0;
  right: 22%;
  width: 25%;
  height: 5px;
  background: rgb(26, 25, 25);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-bottom-center-middle-right-line-section5 {
  position: relative;
  left: 53.3%;
  width: 20%;
  height: 5px;
  background: rgb(26, 25, 25);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-top-center-middle-right-line-section1 {
  width: 20%;
  height: 5px;
  background: rgb(20, 138, 98);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-top-center-middle-right-line-section2 {
  position: absolute;
  top: 0;
  left: 22%;
  width: 25%;
  height: 5px;
  background: rgb(20, 138, 98);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-top-center-middle-right-line-section3 {
  position: absolute;
  left: 45%;
  bottom: 20%;
  width: 10%;
  height: 5px;
  background: rgb(20, 138, 98);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-top-center-middle-right-line-section4 {
  position: absolute;
  top: 0;
  right: 22%;
  width: 25%;
  height: 5px;
  background: rgb(20, 138, 98);
  opacity: 0.1;
  z-index: 20;
}

.payline-middle-left-top-center-middle-right-line-section5 {
  position: relative;
  left: 53.3%;
  width: 20%;
  height: 5px;
  background: rgb(20, 138, 98);
  opacity: 0.1;
  z-index: 20;
}

.brighten-paylines {
  opacity: 1;
}

.dim-paylines {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .payline-top-left-bottom-right-line {
    transform: rotate(24deg) translateY(10px);
  }
  .payline-top-right-bottom-left-line {
    transform: rotate(-24deg) translateY(-10px);
  }
  .payline-middle-left-top-center-middle-right-line-section2 {
    transform: rotate(-18deg) translate(7px, 1px);
  }
  .payline-middle-left-top-center-middle-right-line-section3 {
    transform: translate(9px, 3px);
    width: 8%;
  }
  .payline-middle-left-top-center-middle-right-line-section4 {
    transform: rotate(18deg) translate(5px, -3px);
  }
  .payline-middle-left-top-center-middle-right-line-section5 {
    transform: translate(-15px, 0px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section2 {
    transform: rotate(18deg) translate(7px, -2px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section3 {
    transform: translate(9px, -5px);
    width: 8%;
  }
  .payline-middle-left-bottom-center-middle-right-line-section4 {
    transform: rotate(-18deg) translate(3px, 1px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section5 {
    transform: translate(-15px, 0px);
  }

  .payline-top-line,
  .payline-middle-line,
  .payline-bottom-line,
  .payline-top-left-bottom-right-line,
  .payline-top-right-bottom-left-line,
  .payline-middle-left-bottom-center-middle-right-line-section1,
  .payline-middle-left-bottom-center-middle-right-line-section2,
  .payline-middle-left-bottom-center-middle-right-line-section3,
  .payline-middle-left-bottom-center-middle-right-line-section4,
  .payline-middle-left-bottom-center-middle-right-line-section5,
  .payline-middle-left-top-center-middle-right-line-section1,
  .payline-middle-left-top-center-middle-right-line-section2,
  .payline-middle-left-top-center-middle-right-line-section3,
  .payline-middle-left-top-center-middle-right-line-section4,
  .payline-middle-left-top-center-middle-right-line-section5 {
    height: 2px;
  }
}

@media only screen and (min-width: 600px) {

  .payline-top-left-bottom-right-line {
    transform: rotate(25deg) translateY(20px);
  }
  .payline-top-right-bottom-left-line {
    transform: rotate(-25deg) translateY(-20px);
  }
  .payline-middle-left-top-center-middle-right-line-section2 {
    transform: rotate(-20deg) translate(5px, 1px);
  }
  .payline-middle-left-top-center-middle-right-line-section3 {
    transform: translate(9px, 3px);
    width: 8%;
  }
  .payline-middle-left-top-center-middle-right-line-section4 {
    transform: rotate(20deg) translate(5px, -3px);
  }
  .payline-middle-left-top-center-middle-right-line-section5 {
    transform: translate(-15px, 0px);
  }

  .payline-middle-left-bottom-center-middle-right-line-section2 {
    transform: rotate(20deg) translate(5px, -1px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section3 {
    transform: translate(9px, -3px);
    width: 8%;
  }
  .payline-middle-left-bottom-center-middle-right-line-section4 {
    transform: rotate(-20deg) translate(5px, 3px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section5 {
    transform: translate(-15px, 0px);
  }

  .payline-top-line,
  .payline-middle-line,
  .payline-bottom-line,
  .payline-top-left-bottom-right-line,
  .payline-top-right-bottom-left-line,
  .payline-middle-left-bottom-center-middle-right-line-section1,
  .payline-middle-left-bottom-center-middle-right-line-section2,
  .payline-middle-left-bottom-center-middle-right-line-section3,
  .payline-middle-left-bottom-center-middle-right-line-section4,
  .payline-middle-left-bottom-center-middle-right-line-section5,
  .payline-middle-left-top-center-middle-right-line-section1,
  .payline-middle-left-top-center-middle-right-line-section2,
  .payline-middle-left-top-center-middle-right-line-section3,
  .payline-middle-left-top-center-middle-right-line-section4,
  .payline-middle-left-top-center-middle-right-line-section5 {
    height: 2px;
  }
}
 
@media only screen and (min-width: 768px) {

  .payline-top-left-bottom-right-line {
    transform: rotate(25deg) translate(-80px, 25px);
  }
  .payline-top-right-bottom-left-line {
    transform: rotate(-25deg) translate(-80px, -25px);
  }
  .payline-middle-left-top-center-middle-right-line-section2 {
    transform: rotate(-22deg) translate(1px, 0px);
  }
  .payline-middle-left-top-center-middle-right-line-section3 {
    transform: translate(7.5px, 4.5px);
    width: 10%;
  }
  .payline-middle-left-top-center-middle-right-line-section4 {
    transform: rotate(22deg) translate(13.5px, -5px);
  }
  .payline-middle-left-top-center-middle-right-line-section5 {
    transform: translate(50px, 0px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section2 {
    transform: rotate(22deg) translate(0px, 0px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section3 {
    transform: translate(6.8px, -5px);
    width: 7.8%;
  }
  .payline-middle-left-bottom-center-middle-right-line-section4 {
    transform: rotate(-22deg) translate(-1px, 0px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section5 {
    transform: translate(-15px, 0px);
  }

  .payline-top-line,
  .payline-middle-line,
  .payline-bottom-line,
  .payline-top-left-bottom-right-line,
  .payline-top-right-bottom-left-line,
  .payline-middle-left-bottom-center-middle-right-line-section1,
  .payline-middle-left-bottom-center-middle-right-line-section2,
  .payline-middle-left-bottom-center-middle-right-line-section3,
  .payline-middle-left-bottom-center-middle-right-line-section4,
  .payline-middle-left-bottom-center-middle-right-line-section5,
  .payline-middle-left-top-center-middle-right-line-section1,
  .payline-middle-left-top-center-middle-right-line-section2,
  .payline-middle-left-top-center-middle-right-line-section3,
  .payline-middle-left-top-center-middle-right-line-section4,
  .payline-middle-left-top-center-middle-right-line-section5 {
    height: 5px;
  }

}

@media only screen and (min-width: 992px) {
  .payline-top-left-bottom-right-line {
    transform: rotate(26deg) translate(-25px, 35px);
  }
  .payline-top-right-bottom-left-line {
    transform: rotate(-26deg) translate(-25px, -37px);
  }
  .payline-middle-left-top-center-middle-right-line-section2 {
    transform: rotate(-24deg) translate(-6.5px, -5px);
  }
  .payline-middle-left-top-center-middle-right-line-section3 {
    transform: translate(0px, 0px);
  }
  .payline-middle-left-top-center-middle-right-line-section4 {
    transform: rotate(24deg) translate(6.5px, -5px);
  }
  .payline-middle-left-top-center-middle-right-line-section5 {
    transform: translate(0px, 0px);
    position: absolute;
    top: 33%;
    left: 77.8%;
  }
  .payline-middle-left-bottom-center-middle-right-line-section2 {
    transform: rotate(24deg) translate(-6.5px, 5px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section3 {
    transform: translate(0px, 0px);
    width: 10%;
  }
  .payline-middle-left-bottom-center-middle-right-line-section4 {
    transform: rotate(-24deg) translate(6.5px, 5px);
  }
  .payline-middle-left-bottom-center-middle-right-line-section5 {
    transform: translate(0px, 0px);
    position: absolute;
    top: 63.5%;
    left: 77.8%;
  }
}
